In [1]:
from vadetisweb.models import User, Location, TimeSeries, DataSet
import pandas as pd
import collections

In [2]:
df_read = pd.read_csv('/Users/adrian/Uni/MasterThesis/new_test_data/synthetic/test_data_sin/test_data_sin_with_class_train.csv',
                                  sep=';',
                                  parse_dates=['time'],
                                  infer_datetime_format=True,
                                  index_col='time')
print(df_read)

                    ts_name      unit     value  class
time
2017-04-01 00:00:00   TEST0  Quantity  1.000000      0
2017-04-01 01:00:00   TEST0  Quantity  1.090392      0
2017-04-01 02:00:00   TEST0  Quantity  1.180271      0
2017-04-01 03:00:00   TEST0  Quantity  1.269125      0
2017-04-01 04:00:00   TEST0  Quantity  1.356450      0
...                     ...       ...       ...    ...
2017-05-12 11:00:00   TEST9  Quantity  1.458251      0
2017-05-12 12:00:00   TEST9  Quantity  1.543550      0
2017-05-12 13:00:00   TEST9  Quantity  1.630875      0
2017-05-12 14:00:00   TEST9  Quantity  1.719729      0
2017-05-12 15:00:00   TEST9  Quantity  1.809608      0

[10000 rows x 4 columns]

In [5]:
group_by_ts_name = df_read.groupby('ts_name')
print(group_by_ts_name)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x11ce4b278>

In [11]:
group_by_ts_name = df_read.groupby('ts_name')
df_ts_unit = group_by_ts_name.apply(lambda x: x['unit'].unique())
print(df_ts_unit)
for idx, row in df_ts_unit.items():
    print(row[0])

ts_name
TEST0    [Quantity]
TEST1    [Quantity]
TEST2    [Quantity]
TEST3    [Quantity]
TEST4    [Quantity]
TEST5    [Quantity]
TEST6    [Quantity]
TEST7    [Quantity]
TEST8    [Quantity]
TEST9    [Quantity]
dtype: object
Quantity
Quantity
Quantity
Quantity
Quantity
Quantity
Quantity
Quantity
Quantity
Quantity

In [23]:
df = df_read.pivot(columns='ts_name', values='value')
print(df)
# check each series must have same unit
group_by_ts_name = df_read.groupby('ts_name')
df_ts_unit = group_by_ts_name.apply(lambda x: x['unit'].unique())
print(df_ts_unit)
for idx, row in df_ts_unit.items():
    print(idx)
    print(row)
    df.rename(columns={idx : 1})
print(df)

ts_name                 TEST0     TEST1     TEST2     TEST3     TEST4  \
time
2017-04-01 00:00:00  1.000000  1.100000  1.200000  1.300000  1.400000
2017-04-01 01:00:00  1.090392  1.190392  1.290392  1.390392  1.490392
2017-04-01 02:00:00  1.180271  1.280271  1.380271  1.480271  1.580271
2017-04-01 03:00:00  1.269125  1.369125  1.469125  1.569125  1.669125
2017-04-01 04:00:00  1.356450  1.456450  1.556450  1.656450  1.756450
...                       ...       ...       ...       ...       ...
2017-05-12 11:00:00  0.558251  0.658251  0.758251  0.858251  0.958251
2017-05-12 12:00:00  0.643550  0.743550  0.843550  0.943550  1.043550
2017-05-12 13:00:00  0.730875  0.830875  0.930875  1.030875  1.130875
2017-05-12 14:00:00  0.819729  0.919729  1.019729  1.119729  1.219729
2017-05-12 15:00:00  0.909608  1.009608  1.109608  1.209608  1.309608

ts_name                 TEST5     TEST6     TEST7     TEST8     TEST9
time
2017-04-01 00:00:00  1.500000  1.600000  1.700000  1.800000  1.900000
2017-04-01 01:00:00  1.590392  1.690392  1.790392  1.890392  1.990392
2017-04-01 02:00:00  1.680271  1.780271  1.880271  1.980271  2.080271
2017-04-01 03:00:00  1.769125  1.869125  1.969125  2.069125  2.169125
2017-04-01 04:00:00  1.856450  1.956450  2.056450  2.156450  2.256450
...                       ...       ...       ...       ...       ...
2017-05-12 11:00:00  1.058251  1.158251  1.258251  1.358251  1.458251
2017-05-12 12:00:00  1.143550  1.243550  1.343550  1.443550  1.543550
2017-05-12 13:00:00  1.230875  1.330875  1.430875  1.530875  1.630875
2017-05-12 14:00:00  1.319729  1.419729  1.519729  1.619729  1.719729
2017-05-12 15:00:00  1.409608  1.509608  1.609608  1.709608  1.809608

[1000 rows x 10 columns]
ts_name
TEST0    [Quantity]
TEST1    [Quantity]
TEST2    [Quantity]
TEST3    [Quantity]
TEST4    [Quantity]
TEST5    [Quantity]
TEST6    [Quantity]
TEST7    [Quantity]
TEST8    [Quantity]
TEST9    [Quantity]
dtype: object
TEST0
['Quantity']
TEST1
['Quantity']
TEST2
['Quantity']
TEST3
['Quantity']
TEST4
['Quantity']
TEST5
['Quantity']
TEST6
['Quantity']
TEST7
['Quantity']
TEST8
['Quantity']
TEST9
['Quantity']
ts_name                 TEST0     TEST1     TEST2     TEST3     TEST4  \
time
2017-04-01 00:00:00  1.000000  1.100000  1.200000  1.300000  1.400000
2017-04-01 01:00:00  1.090392  1.190392  1.290392  1.390392  1.490392
2017-04-01 02:00:00  1.180271  1.280271  1.380271  1.480271  1.580271
2017-04-01 03:00:00  1.269125  1.369125  1.469125  1.569125  1.669125
2017-04-01 04:00:00  1.356450  1.456450  1.556450  1.656450  1.756450
...                       ...       ...       ...       ...       ...
2017-05-12 11:00:00  0.558251  0.658251  0.758251  0.858251  0.958251
2017-05-12 12:00:00  0.643550  0.743550  0.843550  0.943550  1.043550
2017-05-12 13:00:00  0.730875  0.830875  0.930875  1.030875  1.130875
2017-05-12 14:00:00  0.819729  0.919729  1.019729  1.119729  1.219729
2017-05-12 15:00:00  0.909608  1.009608  1.109608  1.209608  1.309608

ts_name                 TEST5     TEST6     TEST7     TEST8     TEST9
time
2017-04-01 00:00:00  1.500000  1.600000  1.700000  1.800000  1.900000
2017-04-01 01:00:00  1.590392  1.690392  1.790392  1.890392  1.990392
2017-04-01 02:00:00  1.680271  1.780271  1.880271  1.980271  2.080271
2017-04-01 03:00:00  1.769125  1.869125  1.969125  2.069125  2.169125
2017-04-01 04:00:00  1.856450  1.956450  2.056450  2.156450  2.256450
...                       ...       ...       ...       ...       ...
2017-05-12 11:00:00  1.058251  1.158251  1.258251  1.358251  1.458251
2017-05-12 12:00:00  1.143550  1.243550  1.343550  1.443550  1.543550
2017-05-12 13:00:00  1.230875  1.330875  1.430875  1.530875  1.630875
2017-05-12 14:00:00  1.319729  1.419729  1.519729  1.619729  1.719729
2017-05-12 15:00:00  1.409608  1.509608  1.609608  1.709608  1.809608

[1000 rows x 10 columns]

In [24]:
df_class = df_read.pivot(columns='ts_name', values='class')
df_class = df_class.applymap(lambda x: True if x == 1 else False)
print(df_class)

ts_name              TEST0  TEST1  TEST2  TEST3  TEST4  TEST5  TEST6  TEST7  \
time
2017-04-01 00:00:00  False  False  False  False  False  False  False  False
2017-04-01 01:00:00  False  False  False  False  False  False  False  False
2017-04-01 02:00:00  False  False  False  False  False  False  False  False
2017-04-01 03:00:00  False  False  False  False  False  False  False  False
2017-04-01 04:00:00  False  False  False  False  False  False  False  False
...                    ...    ...    ...    ...    ...    ...    ...    ...
2017-05-12 11:00:00  False  False  False  False  False  False  False  False
2017-05-12 12:00:00  False  False  False  False  False  False  False  False
2017-05-12 13:00:00  False  False  False  False  False  False  False  False
2017-05-12 14:00:00  False  False  False  False  False  False  False  False
2017-05-12 15:00:00  False  False  False  False  False  False  False  False

ts_name              TEST8  TEST9
time
2017-04-01 00:00:00  False  False
2017-04-01 01:00:00  False  False
2017-04-01 02:00:00  False  False
2017-04-01 03:00:00  False  False
2017-04-01 04:00:00  False  False
...                    ...    ...
2017-05-12 11:00:00  False  False
2017-05-12 12:00:00  False  False
2017-05-12 13:00:00  False  False
2017-05-12 14:00:00  False  False
2017-05-12 15:00:00  False  False

[1000 rows x 10 columns]

NameError: name 'idx' is not defined

In [6]:
df_read.rename(columns={idx : 1})
print(df_read)

NameError: name 'idx' is not defined

In [11]:
group_by_ts_name = df_read.groupby('ts_name')
print(group_by_ts_name)
df_ts_unit = group_by_ts_name.apply(lambda x: x['unit'].unique())
print(df_ts_unit)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x1161f3b00>
ts_name
TEST0    [Quantity]
TEST1    [Quantity]
TEST2    [Quantity]
TEST3    [Quantity]
TEST4    [Quantity]
TEST5    [Quantity]
TEST6    [Quantity]
TEST7    [Quantity]
TEST8    [Quantity]
TEST9    [Quantity]
dtype: object

In [35]:
ts_names_from_original = TimeSeries.objects.filter(datasets__id=5).values_list('name', flat=True)
print(ts_names_from_original)
print(list(ts_names_from_original))

<QuerySet ['TEST0', 'TEST1', 'TEST2', 'TEST3', 'TEST4', 'TEST5', 'TEST6', 'TEST7', 'TEST8', 'TEST9']>
['TEST0', 'TEST1', 'TEST2', 'TEST3', 'TEST4', 'TEST5', 'TEST6', 'TEST7', 'TEST8', 'TEST9']

In [36]:
df_ts_unit.index.tolist()

['TEST0',
 'TEST1',
 'TEST2',
 'TEST3',
 'TEST4',
 'TEST5',
 'TEST6',
 'TEST7',
 'TEST8',
 'TEST9']

In [38]:
ts_names_from_original = TimeSeries.objects.filter(datasets__id=5).values_list('name', flat=True)
compare = lambda x, y: collections.Counter(x) == collections.Counter(y)
compare(list(ts_names_from_original), df_ts_unit.index.tolist())
if compare(list(ts_names_from_original), df_ts_unit.index.tolist()):
    err_msg = "Either some series are missing or some series are provided that are not in the original dataset."
    raise ValueError(err_msg)

True

In [39]:
group_by_index = df_read.groupby(level=0)

In [40]:
if group_by_index.apply(lambda x: x[
    'ts_name'].duplicated()).any():  # true if any value is true => at least one duplicated index for a time series name
    err_msg = "Duplicated index for a time series found"
    raise ValueError(err_msg)

In [43]:
units = []
for idx, row in df_ts_unit.items():
    unit = row[0]
    if unit not in units:
        units.append(unit)
        
print(units)

['Quantity']

In [44]:
original_dataset = DataSet.objects.get(id=5)

In [55]:
original_dataset.type_of_data is 'Same Units'

False

In [50]:
original_dataset.type_of_data

'Same units'

In [2]:
DataSet.objects.filter(original_dataset__id=7, is_training_data=True)