In [5]:
import pandas as pd
import numpy as np
import json

In [6]:
nab_path = '/home/adrian/Dokumente/real_data/NAB-master'
nab_data_path = nab_path + '/data/'
 
labels_filename = '/labels/combined_labels.json'
training_file_name = 'realAWSCloudwatch/rds_cpu_utilization_e47b3b.csv'
test_file_name = 'realAWSCloudwatch/rds_cpu_utilization_cc0c53.csv'

In [8]:
labels_file = open(nab_path + labels_filename, 'r')
labels = json.loads(labels_file.read())
labels_file.close()

def load_data_frame_with_labels(file_name):
    data_frame = pd.read_csv(nab_data_path + file_name)
    data_frame['anomaly_label'] = data_frame['timestamp'].isin(labels[file_name]).astype(int)
    return data_frame
 
training_data_frame = load_data_frame_with_labels(training_file_name)
test_data_frame = load_data_frame_with_labels(test_file_name)

In [14]:
training_data_frame

                timestamp    value  anomaly_label
0     2014-04-10 00:02:00  14.0120              0
1     2014-04-10 00:07:00  13.3340              0
2     2014-04-10 00:12:00  15.0000              0
3     2014-04-10 00:17:00  13.9980              0
4     2014-04-10 00:22:00  14.3320              0
...                   ...      ...            ...
4027  2014-04-23 23:37:00  17.0900              0
4028  2014-04-23 23:42:00  17.0800              0
4029  2014-04-23 23:47:00  17.0825              0
4030  2014-04-23 23:52:00  16.2525              0
4031  2014-04-23 23:57:00  18.0050              0

[4032 rows x 3 columns]

In [19]:
training_data_frame.loc[training_data_frame['anomaly_label']==1]

                timestamp  value  anomaly_label
946   2014-04-13 06:52:00  76.23              1
2585  2014-04-18 23:27:00  25.11              1