In [1]:
from sklearn.preprocessing import Normalizer
import pandas as pd

In [23]:
i = pd.date_range('2018-04-09', periods=4, freq='2D')

df = pd.DataFrame({'A': [True, False, True, True], 'B': [False, True, False, True]}, index=i)

In [24]:
print(df)

                A      B
2018-04-09   True  False
2018-04-11  False   True
2018-04-13   True  False
2018-04-15   True   True

In [28]:
df.iloc[0,0].astype(int)

1

In [25]:
Normalizer(norm='l1').fit_transform(df.fillna(0))

array([[1. , 0. ],
       [0. , 1. ],
       [1. , 0. ],
       [0.5, 0.5]])

In [21]:
pd.DataFrame(df.values / df.values.sum(axis=1, keepdims=True), df.index, df.columns)

/home/adrian/Vadetis/venv/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.

               A     B     C     D
2018-04-09   inf  -inf  -inf   inf
2018-04-11  0.25  0.25  0.25  0.25
2018-04-13  0.25  0.25  0.25  0.25
2018-04-15  0.40  0.40  0.10  0.10

In [22]:
df.div(df.sum(axis=1), axis=0)

               A     B     C     D
2018-04-09   inf  -inf  -inf   inf
2018-04-11  0.25  0.25  0.25  0.25
2018-04-13  0.25  0.25  0.25  0.25
2018-04-15  0.40  0.40  0.10  0.10

In [14]:
from vadetisweb.models import DataSet
dataset = DataSet.objects.get(id=27)
df = dataset.dataframe
print(sum(df.count(axis='rows')))

10000

In [2]:
entries = [{'algorithm': 'LISA (Pearson)', 'accuracy': 100, 'f1_score': 100, 'precision': 100, 'recall': 100}, {'algorithm': 'Cluster (Gaussian Mixture)', 'accuracy': 98.998, 'f1_score': 86.486, 'precision': 100, 'recall': 76.19}]

In [4]:
seq = [x['accuracy'] for x in entries]
print(seq)
max(seq)
[item for item in entries if item['accuracy'] == max(seq)]

[100, 98.998]

[{'algorithm': 'LISA (Pearson)',
  'accuracy': 100,
  'f1_score': 100,
  'precision': 100,
  'recall': 100}]

In [6]:
from operator import itemgetter
max(map(itemgetter('f1_score'), entries))

100

In [8]:
df = pd.DataFrame({'A': [2, 7, 8, 9, 5]})
print(df)

   A
0  2
1  7
2  8
3  9
4  5

In [9]:
df.std(axis=0, skipna=True, level=None, ddof=0)

A    2.481935
dtype: float64